Bottom50_felicita_media
Bottom50_freedom_media
Bottom50_gdp_pro_capite_medio
Bottom50_generosity_media
Bottom50_healthy_life_at_birth_media
Bottom50_social_support_medio
Top50_felicita_media
Top50_freedom_media
Top50_gdp_pro_capite_medio
Top50_generosity_media
Top50_healthy_life_at_birth_media
Top50_social_support_medio
